@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(120deg, rgb(218, 49, 49) 0%, rgb(77, 7, 7) 100%);
}

body h2 {
  color: white;
}

main {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
}

.question{
  font-size: 20px;
  font-weight: bold;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  border: none;
}

button {
  width: 100%;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008CCC;
  color: white;
  height: 50px;
  font-size: 20pt;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}